.text-info {
    margin: 0;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 28.6px */

    &__md {
        font-size: 24px;
    }
}

.text {
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
}

.text-class {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
    text-align: right;
    color: #919399;
}

.text-cards {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

.text-internals {
    color: var(--text-internals);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 28.6px */
    margin: 0;
}

.text-speach {
    
    width: 435px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}

.service-info {
    color: var(--btn-color);
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
    width: 505px;
    margin: 0;
}

.function-text {
    color: var(--main-color-secondary);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin: 0;
}

.footer-logo-text {
    color: #919399;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 32px */
}

.calculator-title-text {
    color: var(--bg-color);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    margin: 0;
}

.calculator-info {
    color: var(--bg-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin: 0;
}

.input-text {
    color: #919399;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
}

.delivery-input {
    color: var(--bg-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
}

.stuff-sell-text {
    width: 420px;
    color: var(--main-color-secondary);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin: 0;
}

