.text-info {
    margin: 0;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 28.6px */

    &__md {
        font-size: 24px;
    }
}

.text {
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
}

.text-class {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
    text-align: right;
    color: #919399;
}

.text-cards {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

.text-adv {
    color: var(--btn-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
}

.text-adv-2 {
    color: var(--grey-text);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 28.6px */
    margin: 0;
}

.text-adv-3 {
    width: 435px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}

.service-info {
    color: var(--btn-color);
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
    width: 505px;
    margin: 0;
}

.strong {
    font-weight: 600;
}
