// Breakpoints
$tablet-bp: 1023.98px;
$mobile-bp: 559.98px;

// Units

:root {
    // Colors
    --bg-color: #fff;
    --text-color: #000;
    --primary-color:#FF6743;
    --primary-color-light:#FF6743;
    --text-color-light:#fff;
    --main-color-secondary: #2c2d2e;
    --main-color-light: #FFF;
    --bgpicture-color: #333;
    --text-internals:rgba(44, 45, 46, 0.80);
    --text-h5-color: #2C2D2E;
    --box-shadow-box: rgba(0, 0, 0, 0.08);

    // Fonts
    --main-font: "Inter", "Arial", sans-serif;
}
