.offer {
    color: #FFFFFF;
    position: relative;
    padding: 120px 0 120px 0;
    background-color: #333;
    border-radius: 0px 0px 100px 100px;


    &__content {
        position: relative;
    }

    &__title {
        position: relative;
        z-index: 2;
        width: 672px;
        margin-bottom: 20px;
    }

    &__text {
        position: relative;
        z-index: 2;
        width: 600px;
        margin-bottom: 44px;
    }

    &__btn {
        position: relative;
        z-index: 2;
    }

    &__img {
        position: absolute;
        z-index: 1;
        top: 6px;
        right: -124px;
        background: var(--bgpicture-color);
        margin-right: 176px;
        margin-left: 720px;
        
    }
}

.cross {
    position: relative;
    z-index: 200;
    margin-top: -100px;
    padding: 0 120px 60px 120px;

    &__container {
        justify-content: space-between;
        display: flex;
        gap: 32px;
    }
}


.block {
    display: flex;
    width: 385px;
    border-radius: 24px;
    flex-direction: column;
    padding: 32px 28px;
    gap: 24px;
    background: #FFF;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);

    &__payers {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }
}

.advantages {
    display: flex;
    flex-direction: column;
    gap: 16px;


    &__stroke {
        display: flex;
        gap: 8px;

        &__svg {
            width: 24px;
            height: 24px;
        }
    }
}


